.kanban-task-maximized {
    .task-archived {
        background: darken($whitish, 5%);
        padding: .5rem;
        text-align: left;
        transition: background .3s linear;
        &:hover {
            background: darken($whitish, 8%);
            transition: background .3s linear;
        }
        .task-archived-text {
            flex: 1;
        }
        span {
            color: $gray-light;
        }
        p {
            @include font-size(small);
            color: $gray-light;
            margin: 0;
            &:last-child {
                color: $gray;
                margin: .5rem 0;
                text-align: center;
            }
        }
    }
    .task-name {
        word-wrap: break-word;
    }
    .loading,
    .edit-us {
        bottom: .2rem;
        right: .5rem;
    }
    .task-points {
        @include font-size(small);
        color: darken($card-hover, 15%);
        margin: 0;
        span {
            display: inline-block;
            &:first-child {
                padding-right: .2rem;
            }
        }
        .points-text {
            text-transform: lowercase;
        }
    }
    .kanban-tag {
        border-top: .3rem solid;
    }
}

.kanban-task-minimized {
    .kanban-task-inner {
        padding: 0 .3rem;
    }
    .task-archived {
        @include font-size(small);
        background: darken($whitish, 5%);
        padding: .3rem;
        text-align: left;
        .task-archived-text {
            flex: 1;
        }
        span {
            color: $gray-light;
        }
        .task-name {
            display: inline-block;
            max-width: 70%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        p {
            color: $gray-light;
            margin: 0;
            &:last-child {
                display: none;
            }
        }
    }
    .task-num {
        vertical-align: top;
    }
    .task-name {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 135px;
    }
    .task-points {
        display: none;
    }
    .icon-edit {
        bottom: .2rem;
        right: 1rem;
        top: 1.4rem;
    }
    .kanban-tag {
        border-top: .2rem solid;
    }
}
